.star-border-container {
  position: relative;
  display: inline-block;
  overflow: hidden;
  border-radius: 20px;
}

.border-gradient-bottom {
  position: absolute;
  right: -250%;
  bottom: -12px;
  z-index: 0;
  width: 300%;
  height: 50%;
  border-radius: 50%;
  opacity: 0.7;
  animation: star-movement-bottom linear infinite alternate;
  pointer-events: none;
}

.border-gradient-top {
  position: absolute;
  top: -12px;
  left: -250%;
  z-index: 0;
  width: 300%;
  height: 50%;
  border-radius: 50%;
  opacity: 0.7;
  animation: star-movement-top linear infinite alternate;
  pointer-events: none;
}

.inner-content {
  position: relative;
  z-index: 1;
  border: 1px solid #222;
  border-radius: 20px;
  background: #000;
  color: white;
  font-size: 16px;
  text-align: center;
}

@keyframes star-movement-bottom {
  0% {
    transform: translate(0%, 0%);
    opacity: 1;
  }

  100% {
    transform: translate(-100%, 0%);
    opacity: 0;
  }
}

@keyframes star-movement-top {
  0% {
    transform: translate(0%, 0%);
    opacity: 1;
  }

  100% {
    transform: translate(100%, 0%);
    opacity: 0;
  }
}
